.section-home {
  .container {
    .row{
      .col {
        .card{
          .section-img {
            height: 268px;
            .card-img-top{
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          .card-body {
            .title-product {
              .title-price {
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}